*{
    font-family: Arial;
}
nav {
    background-color: palevioletred;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

nav a:hover {
   opacity: 0.7;
   transition: 0.5s;
}
.ko{
    text-align: center;
    background-color: palevioletred;
}
.bv{
    margin-right: 650px;
}